# Birk
Birk Strand Bjornaa <birksb@stud.ntnu.no> Birk Strand Bjornaa <birksb@stud.ntnu.no> 
Birk Strand Bjornaa <birksb@stud.ntnu.no>  Birk Strand Bjørnaa <birksb@stud.ntnu.no>
Birk Strand Bjornaa <birksb@stud.ntnu.no> Birk Strand Bjornaa <birk.bjornaa@gmail.com>

# Tobias
Tobias Liene Borning <tobiaslb@stud.ntnu.no> Tobias Liene Borning <tobiaslb@stud.ntnu.no>
Tobias Liene Borning <tobiaslb@stud.ntnu.no> Tobias Liene Borning <tobias.l.borning@ntnu.no>

# Aurora
Aurora Johansen <aurorj@stud.ntnu.no> Aurora Johansen <aurorj@stud.ntnu.no>
Aurora Johansen <aurorj@stud.ntnu.no> Aurora <auris.johansen@gmail.com>

# Hanna
Hanna Jacobsen <hannajac@stud.ntnu.no> Hanna Jacobsen <hannajac@stud.ntnu.no>
Hanna Jacobsen <hannajac@stud.ntnu.no> hannajacobsen <hannajac@stud.ntnu.no>
Hanna Jacobsen <hannajac@stud.ntnu.no> Hanna Jacobsen <hanna.jacobsen@ntnu.no>

# Adrian
George Adrian Stoica <stoica@ntnu.no> George Adrian Stoica <stoica@ntnu.no>